<header>
 
    <div class="banner">
    <img   class="applogo"  src="image/formsapp-logo.svg" alt="">
      <span class="offer">L'été est là, et les soldes aussi. Obtenez un plan annuel avec jusqu'à 65% de réduction dès aujourd'hui ! 🌞🌼</span>
      <img class="avatar" src="https://static.vecteezy.com/system/resources/previews/019/896/012/original/female-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="">
      <!-- <button class="view-plans">Voir les forfaits</button> -->
    </div>
  </header>
  