<div>

    <app-header></app-header>

</div>

<div class="container-fluid central">

<div class="row md-12">

    
    <div class="col-2">
        <app-sidebar></app-sidebar>


    </div>


    <div class="col-10 ">

        <app-main-content></app-main-content>
       
            
       
        
        

    </div>



</div>




</div>





<!-- <div class="main-content">
    <div class="header">
      <h2>Mes formulaires</h2>
      <button class="create-button">Créer un formulaire</button>
    </div>
    <div class="content">
      <p>Vous n'avez pas encore créé de formulaires.</p>
      <p>Vos formulaires apparaîtront ici.</p>
    </div>
  </div>
   -->
