<div class="container-fluid">

    <div class=" container-fluid bareLateral_bleu">

        <div class="row md-12">


            <div class="col-2">

                <img class="img-fluid logo" src="image/tree.webp" alt="">
                <img id="logo_number" class="img-fluid logo" src="image/65-min.webp" alt="">
            </div>
            <div class="col-8">
                <p class="texte_accueil"> 
                 L'été est là, et les soldes aussi. Obtenez un plan annuel avec jusqu'à 65% de réduction dès aujourd'hui !<br>
                                             
                </p>
                <p class="ic_tree">🌴🌞</p>
            </div>

            <div class="col-2">

                <button class="btn btn-warning">mettre a jour maintenant</button>

            </div>
        </div>


       
    </div>
    <div class="container">

        <app-menu></app-menu>


    </div>




</div>
